// out: ../../../public/css/
@import 'lib/normalize.less';
@import 'lib/reset.less';
[v-cloak] {
  display: none;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.text-overflow,
.tof {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#app {
  height: 100%;
  background-image: linear-gradient(to bottom, #7477b4, #5F5F9F);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "思源黑体 CN", "Microsoft YaHei", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

/*
._scrl_ {
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px; 
  }
  &::-webkit-scrollbar-track {
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(126, 87, 194, 0.4);
  }
}
*/

.page {
  height: 100%;
  background-color: #fff;
}

.page>.main {
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
}

// #loading {
//   background-color: #4a4a4a;
//   height: 100%;
//   width: 100%;
//   position: fixed;
//   z-index: 99999;
//   margin-top: 0px;
//   top: 0px;
// }

#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -50px;
}

.object {
  width: 20px;
  height: 20px;
  background-color: #F2E9FC;
  float: left;
  margin-right: 20px;
  margin-top: 65px;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}

#object_one {
  -webkit-animation: object_one 1.5s infinite;
  animation: object_one 1.5s infinite;
}

#object_two {
  -webkit-animation: object_two 1.5s infinite;
  animation: object_two 1.5s infinite;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

#object_three {
  -webkit-animation: object_three 1.5s infinite;
  animation: object_three 1.5s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes object_one {
  75% {
    -webkit-transform: scale(0);
  }
}

@keyframes object_one {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

@-webkit-keyframes object_two {
  75% {
    -webkit-transform: scale(0);
  }
}

@keyframes object_two {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

@-webkit-keyframes object_three {
  75% {
    -webkit-transform: scale(0);
  }
}

@keyframes object_three {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}